body {
    background-size: cover;
}

#clock{
    font-size: 7rem;
    color:white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 7rem;
}

#quote{
    font-size:medium;
    color:white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 13rem;
}

#login-form{
    text-align: center;
}

#user{
    text-align: center;
    border: none;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid white;
    outline:none;
    width: 50%;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 55px;
    
}

#greeting{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 55px;
    text-align: center;
}

.hidden{
    display: none;
}

h3 {
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    color:white;
    text-align: center;
}

#todo-form{
    text-align: center;
}

.box{
    text-align: center;
}

.box ul{
    display: inline-block;
    color: white;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

